<div class="main-container">
    <div class="dropdown">
        <div>
            <label>Select State: </label>
            <select (change)="getStates($event.target.value)">
                <option *ngFor="let cities of newList">{{cities}}
                </option>
            </select>
            <!-- <div *ngFor="let state of stateList">{{state.City}}</div> -->
        </div>

        <div>
            <label>Select City: </label>
            <select (change)="getCity($event.target.value)">
                <option *ngFor="let state of stateList">{{state.City}}
                </option>
            </select>
        </div>
    </div>
    <div class="maps">
        <agm-map [latitude]="latitude" [longitude]="longitude" [zoom]="zoom">
            <agm-marker [latitude]="latitude" [longitude]="longitude"></agm-marker>
        </agm-map>
    </div>

</div>