agm-map{
    height: 600px;
}
.main-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 100%;
    width: 100%;
}
.dropdown{
    display: flex;
    flex-direction: row;
    width: 50%;
}
.dropdown div{
    width: 50%;
}
.maps{
    width: 50%;
}
